body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.25s ease;
  padding: 20px;
  margin: 0;
}

.card {
  background: var(--card);
  color: var(--text);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 350px;
  margin: 50px auto;
}

.add-box {
    background: var(--card);
    color: var(--text);
    border: 1px solid var(--border);
}

input, textarea {
  width: 100%;
  background: var(--card);
  color: var(--text);
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid (--border);
}

button {
  width: 100%;
  padding: 10px;
  background: #4a6cf7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #3b5bd3;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: #e63946;
}

.quote-box {
  background: var(--card);
  padding: 10px;
  border-left: 4px solid #f7d774;
  border-radius: 8px;
  margin: 20px 0;
}

.note-item {
  background: var(--card);
  color: var(--text);
  border: 1px solid var(--border);
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.note-actions {
  margin-top: 10px;
}

.note-actions button {
  width: auto;
  padding: 6px 10px;
  margin-right: 5px;
}

:root {
    --bg: #f5f5f5;
    --card: #ffffff;
    --text: #222;
    --border: #ddd;
}

.dark {
    --bg: #1e1e1e;
    --card: #2a2a2a;
    --text: #f5f5f5;
    --border: #444;
}

